@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(235, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}




.container {
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
    height: 568px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;

}

.background {
    background-image: url("./multi-step-form-main/assets/images/bg-sidebar-desktop.svg");

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 274px;
    object-fit: cover;
    /* height: 100%; */
    background-repeat: no-repeat;
    border-radius: 10px;


}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    height: 50%;
    align-self: center;
    padding-top: 30px;

}



.step {
    display: flex;
    width: 90%;



}

.step:first-child>.index {
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.step .index {
    height: fit-content;
    width: 16px;
    font-size: .9rem;
    border: 1px solid white;
    text-align: center;
    border-radius: 23px;
    padding: 10px;
    margin-right: 10%;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.sidebar-right {
    display: flex;
    flex-direction: column;
}

.extra-info>p:first-child {
    text-transform: uppercase;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.516);

}

.extra-info>p:last-child {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.text {
    /* font-size: .91rem; */
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 30px;
}

.text>h1 {
    margin-bottom: 2.5%;
    color: rgb(29, 29, 148);
}

.text>p {
    color: rgb(163, 161, 161);
}

.text>p::first-letter {
    text-transform: capitalize;
}

.form-container {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5%;
    margin-left: calc(5% + 10px);
    margin-right: 5%;
}

.form-container>div {
    margin-left: 5%;
    margin-right: 5%;
}

h1::first-letter,
h4::first-letter {
    text-transform: capitalize;
}

.textbox-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.textbox-form>p {
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 0;
}



.textbox-form>input {
    height: 15%;
    margin-bottom: 2.5%;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(236, 236, 236);
}



#name::first-line {
    text-transform: capitalize;
}


/*page view 2*/
.horizontal {
    display: flex;
    flex-direction: column;
}

.horizontal-card {
    display: flex;
    column-gap: 15px;
}

.card-1 {

    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    row-gap: 3px;
    height: 170px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-1>img {
    width: calc(25px + 10%);
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40%;

}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-1>.card-info>.card-1-name {
    font-weight: bold;
    margin-left: 15px;
    color: rgb(29, 29, 148);
    text-transform: capitalize;
}

.card-1>.card-info>.price {
    margin-left: 15px;
    font-size: .9rem;
    font-weight: 500;
    color: grey;

}





/* DEFINATION: toggle able radio button*/

.toggle-container {


    display: none;

    width: calc(100% - 10%);
    background-color: hsl(225, 100%, 97%);
    margin-top: 50px;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
}

.toggle-container>p:first-child {
    margin-right: 10%;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(29, 29, 148);
}

.toggle-container>p:last-child {
    margin-left: 10%;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(29, 29, 148);
}

.toggle-container>[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-container>label {
    cursor: pointer;
    text-indent: -9999px;
    width: 35px;
    height: 18px;
    background: #1a0a63;
    display: block;
    border-radius: 50px;
    position: relative;
}

.toggle-container>label:before {
    position: absolute;
    content: '';

}

.toggle-container>label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 18px;
    transition: 0.3s;
}

.toggle-container>input:checked+label {
    background: #1a0a63;
}

.toggle-container>input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

/* toggle able radio button :ENDS */


#page-2-text {
    display: none;
}

#page-2-form {
    display: none;
}

#page-3-text {
    display: none;
}

#page-3-form {
    display: none;
}

#toggle-button-3 {
    display: none;
    width: 72%;
}

#page-4-text {
    display: none;
}

#page-4-form {
    display: none;
}

/*PAGE 3*/

.vertical-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.card-2 {
    display: flex;
    width: 80%;
    column-gap: 10%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-right: 30px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #bcc7f09b;
    cursor: pointer;
}

.card-2:hover {
    border-color: hsl(228, 96%, 79%);


    background-color: rgb(255, 255, 255);
}


.card-2:nth-child(n+4) {
    display: none;
}

.card-2-1 {
    display: flex;
    width: 70%;
    column-gap: 10%;
    background-color: rgb(242, 246, 252);
    padding: 20px;
    padding-right: 30px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #371bb5;
}


.card-2-name>p::first-letter {
    text-transform: capitalize;

}

.card-2-name>p:first-child {
    font-size: calc(.7rem + .3vw);
    font-weight: 500;

}

.card-2-name>p:last-child {
    font-size: calc(.6rem + .3vw);
}

.left {
    display: flex;

    column-gap: 5%;
    width: 65%;
}

.price-2 {

    font-size: .8rem;
    font-weight: 800;
    color: hsl(224, 94%, 70%);

}

.price-3 {
    display: none;
    margin-left: 15px;
    font-size: .9rem;
    color: grey;
}

.time {
    font-size: .8rem;
    margin-left: 15px;
    font-weight: 400;
    color: #1d0a72;
    display: none;
}

input[type="checkbox"] {
    accent-color: hsl(243, 100%, 62%);

    ;
}

/*PAGE-4*/
.finishing-up {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;

}

.finishing-up {
    row-gap: 30px;
    height: 250px;
}


.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1f7fe6f;
    border-radius: 5px;
    row-gap: 20px;


}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

}

.plan {
    color: #1a0a63;
    font-weight: 600;
    text-transform: capitalize;
}


.cost {
    font-weight: 200;
    color: #1a0a63;
    text-transform: capitalize;
}

.main {
    font-weight: 600;

}



#change {
    text-decoration: underline;
    cursor: pointer;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    color: #afafaf;
    row-gap: 15px;
    font-size: .8rem;

}

.section-2>* {
    display: flex;
    justify-content: space-between;


}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #afafaf;

}

.total>div:first-child:first-letter {
    text-transform: capitalize;
}

.total>div:last-child {
    font-weight: 600;
    color: #371bb5;
    ;
    font-size: 1.3rem;
}

.section-2>div>p:first-child::first-letter {
    text-transform: capitalize;
}

.section-2>div>p:last-child {
    color: #0d1468;
    font-weight: 400;
}

#next-button-desktop,
#next-button-mobile {

    height: 40px;
    width: 100px;
    bottom: 0;
    margin-left: auto;
    text-transform: capitalize;
    background-color: hsl(213, 96%, 18%);
    color: white;
    align-self: center;
    justify-self: end;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    cursor: pointer;


}

#next-button-desktop:hover {
    background-color: hsl(228, 100%, 84%);
}

#next-button-mobile:hover {
    background-color: hsl(228, 100%, 84%);
}

#back-button-desktop,
#back-button-mobile {
    display: none;
    text-transform: capitalize;
    text-decoration: underline;
    width: 70px;
    bottom: 10px;
    left: 0;
    font-weight: 500;
    color: rgb(177, 177, 177);
    border: none;


    align-self: center;
    justify-self: end;
    border-radius: 5px;
    cursor: pointer;
}

#back-button-desktop:hover {
    color: hsl(213, 97%, 25%);
}

#back-button-mobile:hover {
    color: hsl(213, 97%, 25%);
}



hr {

    border: none;
    height: 1px;
    width: 90%;
    align-self: center;
    background-color: #000;
}

#page-1-form>.messages {
    margin: 0;
    margin-top: 2px;
    display: none;
    color: red;
    align-self: flex-end;
    text-transform: lowercase;
}

#page-1-form>.messages:first-letter {
    text-transform: uppercase;
}


#block {
    display: none;
}

.main-button-desktop {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-button-mobile {
    display: none;
}

input[type="radio"] {
    display: none;
}

.horizontal-card input[name="game-pack"]:checked+label {
    background-color: hsl(225, 100%, 97%)
}

.card-1 {

    border: 2px solid hsl(229, 100%, 91%);
}

.card-1:hover {
    border: solid 2px hsl(228, 100%, 83%);
}


#page-5-text {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.thanks {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.lastpage img {

    margin-bottom: 20px;
}

.thanks+p {
    width: 90%;
    text-align: center;
}

.lastpage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }

    .container {
        border-radius: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgb(67 179 239 / 37%);
        align-items: center;
        padding: 0;
        position: relative;
    }

    .sidebar-container {
        flex-direction: row;
        padding-top: 30px;
        column-gap: 5px;
        align-self: flex-start;
        width: 65%;
    }

    .sidebar {
        flex-direction: row;
        width: 100%;
        height: 172px;
        justify-content: center;
    }


    .extra-info {
        display: none;
    }

    .step {
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .step:first-child {
        margin-top: 0;
    }

    .step .index {
        height: fit-content;
        width: 16px;
        font-size: .9rem;
        border: 1px solid white;
        text-align: center;
        border-radius: 23px;
        padding: 10px;
        margin-right: 10%;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .background {
        background-image: url("./multi-step-form-main/assets/images/bg-sidebar-mobile.svg");
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0;
    }

    .form-container {
        position: absolute;
        top: 105px;
        background-color: white;
        width: 85%;
        height: 73%;
        border-radius: 10px;
        margin: 0;


    }

    .main-button-desktop {
        display: none;
    }

    .main-button-mobile {
        display: flex;
        justify-content: space-between;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 8%;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 10px;
        left: 0;
        bottom: 0;
        margin: 0 !important;
        background-color: white;

    }



    #back-button {
        align-self: center;
        text-decoration: underline;
        cursor: pointer;
    }

    .horizontal {
        row-gap: 10px;
    }

    .horizontal-card {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .card-1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .card-info {
        display: flex;
        flex-direction: column;
    }

    .card-1>img {
        width: calc(15px + 10%);
        margin: 0 !important;

    }

    .card-1>.card-1-name {
        font-weight: bold;
        margin-left: 10px;
        color: rgb(29, 29, 148);
        text-transform: capitalize;
        font-size: .9rem;
    }

    .card-1>.price-1 {
        margin-left: 15px;
        font-size: .9rem;
        color: grey;

    }

    .toggle-container {
        width: 100%;
        background-color: hsl(225, 100%, 97%);
        align-self: center;
        margin-top: 15px;
    }



}